<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <title>500 Internal Server Error</title>
  <link rel="stylesheet" type="text/css" href="../static/global.css">
</head>
<body>
<h1>Error 500: Internal Server Error</h1>
<p>The server encountered an internal error and was unable to complete your
  request. Check the terminal where Python is running for more details.</p>
<form method="GET" action="/">
  <button type="submit">Return to homepage</button>
</form>
</body>
</html>