<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <title>Upload Success | My2FA</title>
  <link rel="stylesheet" type="text/css" href="../static/global.css">
</head>
<body>
<h2>File uploaded successfully</h2>
<p>File Name: {{ name }}</p>
<em>Pressing this button will make a request to the 2FA Directory API, so your
  IP address will be subject to
  <a href="https://2fa.directory/privacy/">
    2FA Directory's privacy policy</a>.
</em>
<form method="POST" action="/match">
  <button type="submit">Fetch and Match</button>
</form>
</body>
</html>