<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <title>My 2FA</title>
  <style>
    @media (prefers-color-scheme: dark) {
      body {
        background: #000
      }
    }

    body {
      margin: 1em auto;
      max-width: 40em;
      padding: 0 .62em 3.24em;
      font: 1.2em/1.62 sans-serif
    }

    h1, h2, h3 {
      line-height: 1.2
    }

    @media print {
      body {
        max-width: none
      }
    }
  </style>
</head>
<body>
<h1>My 2FA</h1>
<form method="POST" action="/match">
  <button type="submit">Fetch and Match</button>
</form>
{% if matched_items %}
  <h2>Matched Items:</h2>
  <ul>
    {% for item in matched_items %}
      <li>{{ item }}, {{ matched_items[item] }}</li>
    {% endfor %}
  </ul>
{% endif %}
</body>
</html>